<div class="container">
  <div class="row my-3 ml-5">
    <div class="col-md-auto bg-light">
      <h4 class="font-weight-bold">
        会員情報編集
      </h4>
    </div>
  </div>

  <%= form_with model: @customer, url: update_information_path, method: :patch do |f| %>
    <%= render 'layouts/error_messages', resource: @customer %>
  <div class = "row mb-2">
    <div class = "col-2">
      氏名
    </div>
    <div class = "col-3">
      <%= f.text_field :last_name %>
    </div>
    <div class = "col-3">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class = "row mb-2">
    <div class = "col-2">
      フリガナ
    </div>
    <div class = "col-3">
      <%= f.text_field :last_name_kana %>
    </div>
    <div class = "col-3">
      <%= f.text_field :first_name_kana %>
    </div>
  </div>

  <div class = "row mb-2">
    <div class = "col-2">
      郵便番号
    </div>
    <div class = "col-3">
      <%= f.text_field :postal_code %>
    </div>
  </div>

  <div class = "row mb-2">
    <div class = "col-2">
      住所
    </div>
    <div class = "col-3">
      <%= f.text_field :address, size:"70*40"%>
    </div>
  </div>

  <div class = "row mb-2">
    <div class = "col-2">
      電話番号
    </div>
    <div class = "col-3">
      <%= f.text_field :telephone_number %>
    </div>
  </div>

  <div class = "row mb-2">
    <div class = "col-2">
      メールアドレス
    </div>
    <div class = "col-3">
      <%= f.email_field :email %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6 text-center">
      <%= f.submit "編集内容を保存", class:"btn btn-success" %>
    </div>
    <div class="col-md-6 text-left">
      <%= link_to "退会する", confirm_unsubscribe_path, class:"btn btn-danger" %>
    </div>
  </div>
  <% end %>
</div>

