<div class="container">
	<div class="row py-4", style="margin-left:15%;">
		<div class="col-md-auto bg-light px-0">
			<h4 class="font-weight-bold">
				商品新規登録
			</h4>
		</div>
	</div>
	<div class="row py-4 justify-content-center align-items-center">
		<%= form_with model: @item, url: admin_items_path do |f| %>
			<%= render 'layouts/error_messages', resource: @item %>
			<div class="row my-4">
				<div class="col-5">
					商品画像
				</div>
				<div class="col-7">			
					<%= f.file_field :image %>
				</div>
			</div>
			<div class="row my-4">
				<div class="col-5">
					商品名
				</div>
				<div class="col-6">
					<%= f.text_field :name, placeholder: "商品名", size: "50x10" %>
				</div>
			</div>
			<div class="row" style="margin-top:10%; margin-bottom:10%;">
				<div class="col-5">
					商品説明
				</div>
				<div class="col-6">
					<%= f.text_area :introduction, placeholder: "ここに説明文を記述します", size: "53x10" %>
				</div>
			</div>
			<div class="row my-4">
				<div class="col-5">
					ジャンル
				</div>
				<div class="col-6">
					<%= f.collection_select( :genre_id, Genre.all, :id, :name, {include_blank: "---選択して下さい---"}, {style:"width: 165%; text-align: center"}) %>
					<!-- f.collection_select :保存先のカラム名, 選択肢に使うオブジェクト, :一つ目の引数に渡す値, :選択肢に使うカラム名, include_blank: "選択して下さい" -->
				</div>
			</div>
			<div class="row my-4">
				<div class="col-5">
					税抜価格
				</div>
				<div class="col-6">
					<%= f.text_field :price, placeholder: "1000", size: "50x10"%>円
				</div>
			</div>
			<div class="row my-4">
				<div class="col-5">
					販売ステータス
				</div>
				<div class="col-6">
					<%= f.radio_button :is_active, true%>販売中
					<%= f.radio_button :is_active, false, class:"ml-3" %>販売停止中
				</div>
			</div>
			<div class="row my-2">
				<div class="col-md-12 text-center">
					<%= f.submit '新規登録', class:"btn btn-success" %>
				</div>
			</div>
		<% end %>
	</div>
</div>


