
<div class="container">

  <div class="row m-1">
    <div class="col-md-auto m-1 md-3 text-left bg-light">
      <h4>ログイン</h4>
    </div>
  </div>


  <div class="row m-3">
      <div class="m-2 text-left bg-light">
        会員の方はこちらからログイン
      </div>
  </div>



  <%= form_with model: @customer, url: session_path(resource_name) do |f| %>
    <div class=" text-center">
    
      <div class="col-md-20 text-center">
          <%= f.label :メールアドレス %>
          <%= f.email_field :emSail, autofocus: true, autocomplete: "email" %>
      </div>


      <div class="col-md-20 text-center">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="row my-3">
          <div class="col-md-12 text-center">
            <%= f.submit "ログイン", class:"btn btn-primary" %>
          </div>
      </div>
    <% end %>
  </div>

    <div class="row m-3">
      <div class=" text-left bg-light">
        会員登録がお済みでない方
      </div>
    </div>


    <div class="row my-3">
      <div class="col-md-12 text-center">

          <%= link_to new_customer_registration_path do %>
            <u>こちら</u>
          <% end %>
          から新規会員登録を行ってください。
        
      </div>
    </div>

<%#= render "public/shared/links" %>
